{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='jquery.card.js') }}"></script>
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}?v=1.7">
{% endblock %}

{% block title %}
  University Bazar
{% endblock %}

{% block content %}
  <div style="height:100%; width:100%;display: flex; flex-direction: column; background-image: url(https://www.cnet.com/a/img/pecM5xCV-zw0mXTSlBwpAbYuPLw=/2018/06/07/78e06ce4-81e0-4b35-992f-6a2b3585b931/mojave-night.jpg)">
      {% block nav_bar %}
      {% endblock %}

    <div style="flex:0.95;">
      <div style="display: flex;">
        {% block side_bar %}
          <div class="sidenav" style="flex:.20;">
            <a href="/homepage">
              <h1 >Home</h1>
           </a>
            <a href="/payment_messages">
              <h1 >Payment Messages</h1>
            </a>
            <a href="/messages">
              <h1 >Messages</h1>
            </a>
            <a href="/viewSales">
              <h1 >Sales</h1>
            </a>
            <a href="/purchaseHistory">
              <h1>Purchase History</h1>
            </a>
             <a href="/clubs">
              <h1>Clubs</h1>
             </a>
            <a href="/ad">
            <h1>Ad</h1>
            </a>
            <a href="/logout">
                <h1 >Logout</h1>
            </a>
          </div>
        {% endblock %}
        <div style="flex:.80;">
          {% block app_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}