{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block title %}
  {% if title %}{{ title }} - {{ appname }}{% else %}{{ appname }}{% endif %}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
<a style="font-size:20px;" href="#"><span class="glyphicon glyphicon"></span>University Bazar</a>
<a style="font-size:20px;" href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      <a style="font-size:20px;" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
  </div>
</nav>
{% endblock %}

{% block content %}

    <div class="container">

        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}