{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block nav_bar %}
    <div class="navbar">
        <div class="header-name">
            <h1> UBS </h1>
        </div>
        {{ wtf.quick_form(searchbarform, form_type="inline", button_map={'submit':'secondary'}, horizontal_columns=('lg', 20, 10),
        extra_classes='header-search') }}
        <div class="header-right">
            <h1 class="navbarButs optionTab" > Welcome {{ session['FirstName'] }}</h1>
         </div>
    </div>
{% endblock %}


{% block app_content %}

    <style>
        .feed_container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        overflow: scroll;
        }
    </style>

    <script type=text/javascript>
        function joinClub(club_name){
            $.ajax({
                type: 'POST',
                url: '/join_club',
                data: JSON.stringify({club_name: club_name}),
                contentType: 'application/json; charset=utf-8',
                success: function(response) {
                    console.log(response);
                    window.location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }

        function leaveClub(club_name){
            $.ajax({
                type: 'POST',
                url: '/leave_club',
                data: JSON.stringify({club_name: club_name}),
                contentType: 'application/json; charset=utf-8',
                success: function(response) {
                    console.log(response);
                    window.location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        // function resetValues(){
        //     document.getElementById("clubform").reset();
        // }
        // $('#clubform')[0].reset();

    </script>

    <div class="d-flex justify-content-center align-items-center">
        <h3>Create Club</h3>
    </div>


    <div class="d-flex justify-content-center align-items-center">
        {% if msg%}
                <div class="alert alert-primary" role="alert">
                    <h4 > {{msg}} </h4>
                </div>
        {% endif %}
    </div>

        <div class="borders">
            <div class="row">
                <div class="col-md-5 col-md-offset-5">
                    <form action="/create_club" method="post" id ="clubform" onsubmit="resetValues()" class= 'form' role="form">
                        {{form.csrf_token}}
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    {{ wtf.form_field(form.clubName, class='form-control',
                                        placeholder='Club Name') }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    {{ wtf.form_field(form.description, class='form-control',
                                        placeholder='description') }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ wtf.form_field(form.submit, class='btn btn-primary') }}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    <div class="feed_container">
            <div class="row">
            <div class="container">
                {% for club in clubs %}
                    <div class="row">
                        <div class="card w-75" style="margin:30px;">

                            <div class="card-body">
                                <h5 class="card-title">{{club['name']}}</h5>
                                <p class="card-text">{{club['description']}}</p>
                            </div>

                            <div class="card-body">
                                {% if club['name'] in user_clubs %}
                                    <button class="btn btn-primary" id="leavebtn" onclick="leaveClub('{{ club['name'] }}')">Leave</button>
                                {% else %}
                                    <button class="btn btn-primary" id="joinbtn" onclick="joinClub('{{ club['name'] }}')">Join</button>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor%}
            </div>
        </div>
    </div>

{% endblock %}
