{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

<script>
    function joinClub(club_name){
        $.ajax({
            type: 'POST',
            url: '/join_club',
            data: {club_name: club_name}
        });
    }
    
    function leaveClub(club_name){
        $.ajax({
            type: 'POST',
            url: '/leave_club',
            data: {club_name: club_name}
        });
    }
</script>

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <a style="font-size:20px;" href="#"><span class="glyphicon glyphicon"></span>Clubs</a>
{#      <a style="font-size:20px;" href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> </a>#}
{#      <a style="font-size:20px;" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>#}
  </div>
</nav>
{% endblock %}

{% block app_content %}

    {% if msg%}
        <div class="alert alert-primary" role="alert">
            <h4 > {{msg}} </h4>
        </div>
    {% endif %}

    <h4>Create Club</h4>

    <form action="/create_club" method="post" class="form" role="form">
        {{form.csrf_token}}
        <div class="row">
            <div class="form-group col-sm-6">
                {{ wtf.form_field(form.clubName, class='form-control',
                    placeholder='Club Name') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                {{ wtf.form_field(form.description, class='form-control',
                    placeholder='description') }}
            </div>
        </div>
        <div class="form-group">
            {{ wtf.form_field(form.submit, class='btn btn-primary') }}
        </div>
    </form>

    <div class="feed_container">
        <div class="row">
            <div class="container">
                {% for club in clubs %}
                    <div class="row">
                        <div class="card w-75" style="margin:10px;">
                            <div class="card-body">
                                <h5 class="card-title">{{club['name']}}</h5>
                                <p class="card-text">{{club['description']}}</p>
                            </div>

                            <div class="card-body">
                                {% if club['name'] in user_clubs %}
                                    <button class="btn btn-primary" onclick="leaveClub({{ club['name'] }})">Leave</a>
                                {% else %}
                                    <button class="btn btn-primary" onclick="joinClub({{ club['name'] }})">Join</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor%}
            </div>
        </div>
    </div>

{% endblock %}
