{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <a style="font-size:20px;" href="#"><span class="glyphicon glyphicon"></span>Clubs</a>
{#      <a style="font-size:20px;" href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> </a>#}
{#      <a style="font-size:20px;" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>#}
  </div>
</nav>
{% endblock %}

{% block app_content %}

    {% if msg%}
        <div class="alert alert-primary" role="alert">
            <h4 > {{msg}} </h4>
        </div>
    {% endif %}

    <h4>Create Club</h4>

    <form action="/create_club" method="post" class="form" role="form">
        {{form.csrf_token}}
        <div class="row">
            <div class="form-group col-sm-6">
                {{ wtf.form_field(form.clubName, class='form-control',
                    placeholder='Club Name') }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                {{ wtf.form_field(form.description, class='form-control',
                    placeholder='description') }}
            </div>
        </div>
        <div class="form-group">
            {{ wtf.form_field(form.submit, class='btn btn-primary') }}
        </div>
    </form>

    <div class="feed_container">
        <div class="row">
            <div class="container">

                {% for card in cards %}
                <div class="row">
                    <div class="col-1">
                        {% if card['potsType']=='ad' %}
                        Advertisement
                        {% endif %}
                    </div>

                    <div class="card w-75" style="margin:10px;">
                        <div class="card-body">
                            <h5 class="card-title">{{card['name']}}</h5>
                            <p class="card-text">{{card['description']}}</p>
                        </div>
                        {% if card['image'] %}
                        <img class="card-img-top" src={{card['image']}} alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="col-1">

                    </div>
                </div>
                {% endfor%}
                <div class="row">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

