
{% extends "base.html" %}

{% block nav_bar %}
    <div class="navbar">
        <div class="header-name">
            <h1> UBS </h1>
        </div>
        {{ wtf.quick_form(searchbarform, form_type="inline", button_map={'submit':'secondary'}, horizontal_columns=('lg', 20, 10),
        extra_classes='header-search') }}
        <div class="header-right">
            <h1 class="navbarButs optionTab" > Welcome {{ session['FirstName'] }}</h1>
         </div>
    </div>
{% endblock %}

{% block app_content %}


{% if searchString %}
<div class="alert alert-primary" role="alert">
    <h4> {{searchString}} </h4>
</div>
{% endif %}
{#<div class="backGroundImage">#}

    <div class= "feed_container" style="background-image: url('../static/mystical.png');background-size: 100% 100%;width: 100%; height: 100%;">
    {#    id="homepageBackgroundstyle" background-image: url('../static/blue.jpg'), background-size: auto 100%" >#}
        <div class="container customcontainer">
            {% for card in cards %}
            <div class="row">
                <div class="col-1">
                    {% if card['postType']=='ad' %}
                        Advertisement
                    {% endif %}
                </div>

                <div class="card w-75" style="margin:10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{card['title']}}</h5>
                        <p class="card-text">{{card['body']}}</p>
                    </div>
                    {% if card['image'] %}
                            <img class="card-img-top" style="width: 100%;height: 70vh;object-fit: cover" src = "data:;base64, {{ card['image'] }}" alt="Card image cap"/>
                    {% endif %}
                    <div class="card-body">
                        {% if card['deleteBtn'] %}
                            <form action="/homepage" id="delBtnForm" method="POST" ><button name="deletePost" class="action-button" type="submit" value="{{ card['ID'] }}" >Delete Post</button></form>
                        {% endif %}
    {#                    <a href="#" class="btn btn-primary">Go somewhere</a>#}
                    </div>
                </div>
                <div class="col-1">

                </div>
            </div>
            {% endfor%}
        </div>

        <div class="page-navigation">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>




<script>


</script>
{% endblock %}