{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <a style="font-size:20px;" href="#"><span class="glyphicon glyphicon"></span>University Bazar</a>
      <a style="font-size:20px;" href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      <a style="font-size:20px;" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
  </div>
</nav>
{% endblock %}

{% block app_content %}
{% if msg %}
<div class="alert alert-primary" role="alert">
            <h4 > {{msg}} </h4>
</div>
{% endif %}
<div class="container">
 <h3>Login</h3>

 <form action="/login" method="post" class="form" role="form">
{{ form.csrf_token }}
  <div class="row">
 <div class="form-group col-md-6">
 {{ wtf.form_field(form.emailID, type='email', class='form-control', placeholder='Email Address') }}
 </div>
   </div>
  <div class="row">
 <div class="form-group col-md-6">
 {{ wtf.form_field(form.password, type='password', class='form-control', placeholder='Password') }}
 </div>
  </div>
<div class="form-group">
 {{ wtf.form_field(form.submit, class='btn btn-primary') }}
 </div>
 </form>
 <hr>
</div>

{% endblock %}

