{% extends "base.html" %}
{% block app_content %}
<style>
    .navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:1rem;
    padding-right:7rem;
    background-color:black;
    width: 100%;
    }
    .header-name{
    flex: .20;
    color: azure;
    margin-left: 2%;
    }
    .header-search{
    flex:.60;
    display: flex;
    justify-content: space-around;
    margin-right: 2%;
    border: 1px solid black;
    }
    .header-right{
    flex: 0.20;
    display: flex;
    color: azure;
    justify-content: space-evenly;
    align-items: center;
    }
    #search {
    margin-right:10px;
    width: 40vw;
    border-radius: 15px;
    }
    #box {
    width:80%;
    background-color: rgb(124, 124, 124);
    color: white;
    }
    #messagesTab{
    text-decoration: none !important;
    color: dimgray;
    }
    #homeTab{
    text-decoration: none !important;
    color: azure;
    }
    #homeTab:hover{
        text-transform: scaleX(1.08);
        color: dimgray;
    }
    #logoutButTab{
    text-decoration: none !important;
    color: azure;
    }
    #logoutButTab:hover{
        text-transform: scaleX(1.08);
        color: dimgray;
    }
    .feed{
    height: 100vh;
    width:100vw;
    display: grid;
    place-content: center;
    background-color: white;
    }

    .feed_container{
    display:flex;
    flex-direction:column;
    height: 98vh;
    padding:10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(163, 163, 163);
    overflow: scroll;
    }

    .navbarButs {
      margin-right: 5px;
    }
</style>
{% if searchString %}
<div class="alert alert-primary" role="alert">
    <h4 > {{searchString}} </h4>
</div>
{% endif %}
<div class="navbar">
    <div class="header-name">
        <h1> UBS </h1>
    </div>
    {{ wtf.quick_form(form, form_type="inline", button_map={'submit':'secondary'}, horizontal_columns=('lg', 20, 10), extra_classes='header-search') }}
    <div class="header-right">
        <a href="/messages"><h1 class="navbarButs" id=messagesTab >Messages</h1></a>
        <a href="/homepage"><h1 class="navbarButs" id=homeTab >Home</h1></a>
        <a href="/logout">
          <h1 class="navbarButs" id=logoutButTab>Logout></h1>
        </a>
    </div>
</div>
<div class="feed">
    <div class="feed_container">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://robohash.org/139.133.png?size=75x75" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet lectus proin</p>
                  <p class="card-text"><small class="text-muted">Sent at 12:03pm. Feb 24, 2021.</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://robohash.org/1239.133.png?size=75x75" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet lectus proin</p>
                  <p class="card-text"><small class="text-muted">Sent at 12:03pm. Feb 24, 2021.</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://robohash.org/1339.133.png?size=75x75" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet lectus proin</p>
                  <p class="card-text"><small class="text-muted">Sent at 12:03pm. Feb 24, 2021.</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://robohash.org/1439.133.png?size=75x75" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet lectus proin</p>
                  <p class="card-text"><small class="text-muted">Sent at 12:03pm. Feb 24, 2021.</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://robohash.org/1539.133.png?size=75x75" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor id aliquet lectus proin</p>
                  <p class="card-text"><small class="text-muted">Sent at 12:03pm. Feb 24, 2021.</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
  </div>
{% endblock %}

