{% extends "base.html" %}
<style>
	.form-cont {
		margin-top: 10rem;
	}
</style>

{% block nav_bar %}
<div class="navbar">
	<div class="header-name">
		<h1> UBS </h1>
	</div>
	<div class="header-right">
		<h3 class="navbarButs optionTab"> {{ session['FirstName'] }}</h3>
	</div>
</div>
{% endblock %}

{% block app_content %}

{% if msg %}
<div class="alert alert-primary" role="alert">
	<h4> {{msg}} </h4>
</div>
{% endif %}


<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 form-cont">
			<div class="billing-address-form-container">
				{{wtf.quick_form(form)}}
			</div>


			<div class="card-form-container">
				<div class="card-wrapper">
				</div>
				<div class="card-details-container">
					{{wtf.quick_form(ccform, extra_classes='card-details-form')}}
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<script>
	$('.card-details-form').card({

		container: '.card-wrapper', // *required*

	});
</script>

{% endblock %}