
{% extends "base.html" %}

{% block nav_bar %}
    <div class="navbar">
        <div class="header-name">
            <h1> UBS </h1>
        </div>
        {{ wtf.quick_form(searchbarform, form_type="inline", button_map={'submit':'secondary'}, horizontal_columns=('lg', 20, 10),
        extra_classes='header-search') }}
        <div class="header-right">
            <h1 class="navbarButs optionTab" > Welcome {{ session['FirstName'] }}</h1>
         </div>
    </div>
{% endblock %}z

{% block app_content %}


<!-- {% if searchString %}
<div class="alert alert-primary" role="alert">
    <h4> {{searchString}} </h4>
</div>
{% endif %} -->

<div class= "feed_container customcontainer">

    <div class="container">
        <div class="sales-center">
            <a class="createSales-button" href="/createSales">Create Sale</a>
        </div>
    {% for card in cards %}
        <div class="row">
            {% for entry in card %}
            <div class="col-md-4" >
                <div class="salesCard" style="color:white;">
                    <img class="card-img-top"src="../file/{{entry['imgId']}}" alt="Card image cap"  style=" width: 100% !important;height:35rem !important;object-fit: cover" >
                    <h1>{{entry['itemName']}}</h1>
                    <p class="price">${{entry['price']}}</p>
                    <p>{{entry['title']}}</p>
                    <p>{{entry['body']}}</p>
                    <p><button class="salesCard-button" onclick="location.href='/viewPaymentForm?id={{ entry['ID'] }}'" type="button">Buy</button></p>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}